@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Lilita+One&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap');
*{
    padding:0;
    margin:0;
    font-family:poppins,sans-serif;
}
:root{
    --bgcolor1:#f3e6bf;
    --txtcolor:#1e3533;
}
#interface{
    height:100vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
#interface-container{
    height:600px;
    width:900px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 15px;
    background-color: var(--bgcolor1);
    color:var(--txtcolor);
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
#interface-container img{
    height:50%;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#interface-container button{
    width:50%;
    padding:15px;
}
#interface-container button:hover{
    background-color: rgba(255, 98, 41, 0.863);
    cursor:pointer;
}
body{
    display: flex;
    width:100%;
    min-height:100vh;
    justify-content: center;
    align-items: center;
}
#container{
    background-color: white;
    width: 800px;
    max-height: 900px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 15px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#part1{
    background-color: #f3e6bf;
    color:#162927;
    height:35vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius:15px 15px 15px 15px;
}
#background{
    width:20%;
    align-self: flex-end;
    border-radius: 0px 0px 15px 0px;
}
#searchbox{
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    height:auto;
    width:70%;
}
#search{
    padding:20px 0px;
    display:flex;
    justify-content: space-between;
}
#searchbox h2{
    font-size:30px;
}
input,button{
    padding:10px;
    border:none;
    border-radius: 10px;
    outline:none;
    text-align: center;
}
button{
    background-color: rgb(255, 138, 95);
    display:flex;
    align-items: center;
    justify-content: center;
}
input{
    width:70%;
}
#part2{
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    overflow-y:scroll;
}
/* #cover{
    width:80%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:100%;
} */
#meaning{
    background-color: #f3e6bf;
    padding:15px;
    border-radius: 10px;
    width:80%;
    overflow: visible;
}
.control{
    color:white;
    padding:10px;
    border-radius: 30px;
    margin:0px 10px;
}
.fa-volume-low{
    background-color: #0a6864;
}
.fa-volume-low:active{
    background-color: #09524e;
    color:black;
}
.fa-heart{
    background-color: #feb10b;
}
.fa-circle-question{
    background-color: #d6cba3;
}
.fa-circle-question:active{
    background-color: #b1a887;
}
#heading{
    text-transform: capitalize;
}
#part2 h4,h2,#part2 div{
    padding: 15px;
}
#example{
    margin-bottom: 50px;
}
::-webkit-scrollbar{
    display:none;
}
#part2{
    position:relative;
}
#credit{
    position:absolute;
    background-color: whitesmoke;
    padding:70px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 15px;
    transition: all 0.5s;
    width:80;
}   
#x{
    font-size:100%;
    padding:20px;
}
.hide{
    display:none;
}
.show{
    display:block;
}
.fa-xmark{
    font-size: 50%;
    position:absolute;
    top:10%;
    right:10%;
    backdrop-filter: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
@media only screen and (max-width:768px){
    #container,#interface{
        min-width:100%;
        min-height: 100vh;
        border-radius: 0px;
    }
    #interface{
        background-color:var(--bgcolor1);
    }
    #interface-container{
        width:100%;
        height:75vh;
        box-shadow:none;
    }
    #interface-container button{
        width:80%;
    }
    #part1{
        justify-content: space-between;
        align-items: flex-end;
        border-radius: 0px 0px 15px 15px;
    }
    #searchbox{
        margin-left:20px;
    }
    #part2{
        flex-grow: 0;
        margin:0;
    }
    #background{
        width:40%;
    }
}
@media only screen and (max-width:418px){
    #interface-container img{
        height:40%;
    }
    #searchbox{
        width:70%;
    }
    input{
        width:63%;
    }
    #search{
        display:flex;
        justify-content: space-between;
    }
    #searchbox h2{
        font-size:24px;
    }
    #part1{
        align-items: flex-end;
        height:30vh;
    }
}
